<!-- <h2>The Post Create Component</h2> -->
<!-- <textarea name="" id="" cols="30" rows="10" [value]="newPost" #postInput></textarea> -->
<mat-card>
  <!-- by doing this form data don't get sent to server but instead locally-->
  <form (submit)="onAddPost(postForm)" #postForm="ngForm"> <!-- local reference this will give us access to the form element object data-->
    <mat-form-field>
      <input
        matInput
        placeholder="Post Title"
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        #title="ngModel">
        <!-- <input
          matInput
          placeholder="Enter a title"
          required
          [formControl]="title"
        > -->
     <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
     <!-- <mat-error *ngIf="title.invalid">{{getErrorMessage(title)}}</mat-error> -->
     <!-- <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error> -->

    </mat-form-field>
    <mat-form-field>
    <textarea
      matInput
      placeholder="Post Content"
      rows="6"
      name="content"
      ngModel
      required
      minlength="3"
      #content="ngModel">
    </textarea>
    <mat-error *ngIf="content.invalid">Please enter post content</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post
    </button>
  </form>
</mat-card>


<!-- <button k(click)="onAddPost(postInput)">Save Post</button> -->
<!-- <p>{{ newPost }}</p> -->
<!-- <p>{{ enteredValue | json }} </p> -->


<!-- <mat-card>
    <form>
      <mat-form-field>
        <input
          matInput
          type="text"
          [(ngModel)]="enteredTitle">
      </mat-form-field>
      <mat-form-field>
      <textarea
        matInput
        rows="6"
        [(ngModel)]="enteredContent">
      </textarea>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        (click)="onAddPost()">Save Post
      </button>
    </form>
  </mat-card> -->
